.gridItem {
  height: 0;
  position: relative;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  div[data-vimeo-initialized="true"] {
    height: 100%;
  }

  &:not(:first-child) {
    margin-top: 50px;
    padding-top: 36%;
  }

  &:first-of-type {
    width: 100%;
    padding-top: 36%;

    iframe {
      height: 157%;
      transform: scale(1.1);
    }

    @media screen and (max-width: 768px) {
      padding-top: 64%;

      iframe {
        height: 100%;
        transform: scale(1.5);
      }
    }
  }

  &:nth-child(2n) {
    width: calc(60% - 50px);
    margin-right: 50px;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      padding-top: 64%;
    }
  }

  &:nth-child(3n) {
    width: 40%;
    padding-top: 64%;

    iframe {
      height: auto;
      left: 50%;
      min-height: 100%;
      min-width: 220%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%) scale(1.4);
      width: auto;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &:nth-child(4n) {
    width: calc(40% - 50px);
    margin-right: 50px;
    padding-top: 64%;
    margin-top: calc(-28% + 50px);

    iframe {
      height: auto;
      left: 50%;
      min-height: 100%;
      min-width: 220%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%) scale(1.4);
      width: auto;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      margin-top: 30px;
      padding-top: 64%;
    }
  }

  &:nth-child(5n) {
    width: 60%;

    @media screen and (max-width: 768px) {
      width: 100%;
      padding-top: 64%;
    }
  }
}

.link {
  font-size: 18px;
  margin: 0 auto;
  svg {
    width: 25px;
    margin-left: 18px;
  }
}

.linkInnerWrap {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  line-height: 40px;
  border-bottom: 1px solid #f25b5d;
  padding-top: 60px;
}
