.footer {
  display: grid;
  grid-template-columns: 60% 40%;

  padding-bottom: 32px;
  padding-top: 90px;
  overflow: hidden;

  @media (max-width: 1022px) {
    display: flex;
    flex-direction: column;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h3 {
    font-size: 32px;
    color: #f3ede0;
    font-weight: 600;
  }

  .email {
    line-height: 2;
    border-bottom: 2px solid #f25b5d;
    width: fit-content;
    font-size: 18px;
  }

  .top {
    margin-bottom: 48px;
  }

  .bottom {
    h4 {
      color: #f3ede0;
      margin-bottom: 12px;
    }

    .flex-col {
      display: flex;
      color: #f3ede0;

      .secondary {
        margin-left: 90px;
      }

      @media (max-width: 720px) {
        flex-direction: column;

        .secondary {
          margin-left: 0px;
        }
      }
    }
  }
}

.footer-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.illo-wrap {
  position: relative;

  .illo {
    position: absolute;
    bottom: -48px;

    img {
      height: 340px;
    }

    @media (max-width: 1022px) {
      position: relative;
    }
  }
}

.brothered {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  h4 {
    color: #f3ede0;
    margin-bottom: 12px;
  }
}
