.footer {
  display: grid;
  grid-template-columns: 60% 40%;

  padding-bottom: 32px;
  padding-top: 40px;
  overflow: hidden;

  @media (max-width: 1022px) {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 1.125rem;
    color: #f3ede0;
    font-weight: 600;
  }

  .email {
    line-height: 2;
    border-bottom: 2px solid #f25b5d;
    width: fit-content;
    font-size: 1.125rem;
  }

  .top {
    margin-bottom: 48px;

    @media (max-width: 720px) {
      margin-bottom: 24px;
    }
  }

  .bottom {
    h4 {
      color: #f3ede0;
      margin-bottom: 12px;
      font-weight: 500;
    }

    .flex-col {
      display: flex;
      color: #f3ede0;

      .secondary {
        margin-left: 90px;
      }

      @media (max-width: 720px) {
        flex-direction: column;

        .secondary {
          margin-left: 0px;
        }
      }
    }
  }
}

.footer-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.illo-wrap {
  position: relative;

  .illo {
    position: absolute;
    bottom: -80px;

    img {
      height: 280px;
    }

    @media (max-width: 1022px) {
      position: relative;
    }

    @media (max-width: 720px) {
      img {
        height: auto;
      }
    }
  }
}

.brothered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    color: #f3ede0;
    margin-bottom: 12px;
    font-weight: 500;

    @media (max-width: 720px) {
      font-size: 1.125rem;
    }
  }
}
