.emailTitle {
  margin-left: 20px;
}

.email {
  font-size: 22px;
  border-bottom: 1px solid #f25b5d;
  line-height: 2.2;
  padding: 0 20px;
}

.footerIllo {
  margin-bottom: -48px;
}

.attribute {
  align-self: flex-end;
}
