.stylesH4 {
  font-size: 57px;
  line-height: 1.03;
  font-weight: regular;
}

@media only screen and (max-width: 1200px) {
  .stylesH4 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .stylesH4 {
    font-size: 37px;
  }
}

@media only screen and (max-width: 639px) {
  .stylesH4 {
    font-size: 24px;
  }
}
