.container {
  max-width: 1400px;
}

.wrap {
  margin-top: 0px;
  display: flex;
  margin-bottom: 90px;
}

.textWrap {
  display: flex;
  align-items: center;
  width: 60%;
}

.imgWrap {
  display: flex;
  justify-content: center;
  width: 40%;
}

@media (max-width: 600px) {
  .wrap {
    grid-column-gap: 0px;
    display: flex;
    align-items: center;
  }
}

.imgWrap {
  width: 35%;
  margin-left: 6px;
}

.stylesH4 {
  font-size: 58px;
  line-height: 1.15;
  font-weight: 600;
}

.stylesH4 span {
  display: block;
}

@media only screen and (max-width: 1200px) {
  .stylesH4 {
    font-size: 45px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .stylesH4 {
    font-size: 37px;
  }
}

@media only screen and (max-width: 639px) {
  .stylesH4 {
    font-size: 24px;
  }
}
