.container {
  max-width: 1440px;
  /* padding-left: 65px; */
  padding-right: 65px;
}

@media (max-width: 600px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.wrap {
  margin-top: 0px;
  display: flex;
  margin-bottom: 50px;
}

.textWrap {
  display: flex;
  align-items: center;
  width: 94%;
}

@media (max-width: 600px) {
  .wrap {
    grid-column-gap: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }
}

.stylesH4 {
  font-size: 44px;
  line-height: 1.1;
  font-weight: 500;
}

.stylesH4 span {
  display: block;
}

@media only screen and (max-width: 1200px) {
  .stylesH4 {
    font-size: 45px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .stylesH4 {
    font-size: 37px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 639px) {
  .stylesH4 {
    font-size: 24px;
  }
}
