.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.about {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 10%;
}

@media (max-width: 720px) {
  .about {
    grid-template-columns: 1fr;
    grid-row-gap: 45px;
  }
}

.about p {
  font-weight: 400;
}

.text p {
  margin-bottom: 16px;
  font-weight: 400;
}

.next-post-wrap-mobile {
  display: none;
}

.post-wrap {
  grid-column: span 10 / span 10;
}

@media (max-width: 720px) {
  .next-post-wrap {
    display: none;
  }

  .next-post-wrap-mobile {
    display: flex;
    justify-content: space-between;
    

  }

  .post-wrap {
    width: 100%;
    grid-column: span 12 / span 12;
  }
}
