.previous {
  top: 50%;
  left: 50px;
  position: absolute;
  transform: translate(0, -50%) rotate(45deg);
  padding: 20px;
  width: 50px;
  height: 50px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  cursor: pointer;
}

.next {
  top: 50%;
  right: 50px;
  position: absolute;
  transform: translate(0, -50%) rotate(45deg);
  padding: 20px;
  width: 50px;
  height: 50px;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  cursor: pointer;
}

.overlay {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 20px;

  &.overlayVideo {
    width: 50%;
  }
}

.playGridItem {
  img {
    width: 100%;
    // height: 100%;
    // object-fit: contain;
  }
  height: auto;
  // &:first-of-type {
  //   height: 100%;
  // }

  // &:nth-child(2) {
  //   height: 54%;
  // }

  // &:nth-child(3) {
  //   height: 63%;
  // }

  // &:nth-child(5) {
  //   margin-top: -25%;
  // }

  // &:nth-child(7),
  // &:nth-child(8) {
  //   margin-top: -29%;
  // }

  // &:nth-child(9) {
  //   margin-top: -53%;
  // }

  // &:nth-child(10) {
  //   margin-top: -16%;
  // }

  // &:nth-child(12),
  // &:nth-child(13) {
  //   margin-top: -64%;
  // }

  // &:nth-child(15) {
  //   margin-top: -69%;
  // }
}
