.link {
  font-size: 18px;
  margin: 0 auto;
  svg {
    width: 25px;
    margin-left: 18px;
  }
}

.tag {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.header {
  margin-bottom: 45px;
}
