.link {
  font-size: 18px;
  svg {
    width: 25px;
    margin-left: 18px;
  }
}

.linkInnerWrap {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  line-height: 28px;
  border-bottom: 2px solid #f25b5d;
  padding-top: 60px;

  @media (max-width: 720px) {
    padding-top: 0px;
    margin-top: 24px;
  }
}
