.columns {
  width: 100%;
  overflow: hidden;
}

.columns:not(:first-child) {
  margin-top: 30px;
}

.columns:nth-child(5n - 4) {
  width: 100%;

}

.columns:nth-child(5n - 3) {
  width: calc(40% - 30px);
  margin-right: 30px;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-right: 0;
  }

}

.columns:nth-child(5n - 2) {
  width: 60%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

}

.columns:nth-child(5n - 1) {
  width: calc(60% - 30px);
  margin-right: 30px;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-right: 0;
  }

}

.columns:nth-child(5n) {
  width: 40%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.link {
  height: 100%;
  font-size: 18px;
  margin: 0 auto;
  width: 100%;
  svg {
    width: 25px;
    margin-left: 12px;
  }
}

.item {
  height: 100%;
  position: relative;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:first-of-type {
    width: 100%;
    padding-top: 36%;

    @media screen and (max-width: 768px) {
      padding-top: 64%;
    }
  }
}

.title {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  padding-top: 0px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  bottom: 0;
}

@media (max-width: 720px) {
  .title {
    padding: 16px;
  }
}

.title h3 {
  color: #f3ede0;

  @media (max-width: 720px) {
    font-size: 22px;
  }
}

.filter {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;

  &:hover {
    color: #f25b5d;
    border-bottom: 2px solid #f25b5d;
  }
}
