.container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 120px;
  grid-row-gap: 48px;
}

.talent-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 48px;
  margin-bottom: 24px;
}



.talent-card {
}

.talent-card:hover h2 {
  color: #f25b5d;
  border-bottom: 2px solid #f25b5d;
}

.talent-card h2 {
  font-size: 32px;
  transition: 0.2s ease;
  margin-bottom: 0px;
  line-height: 1;
  border-bottom: 2px solid transparent;
}

.talent-card h3 {
  font-size: 16px;
  margin: 0px;
}

.talent-card p {
  font-size: 12px;
  opacity: 0.5;
}

@media (max-width: 720px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .talent-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 24px;
  }
}
