@import "slick";
@import "slick-theme";

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
@layer base {
  body {
    background: #f3ede0;
    color: #12416c;
    font-family: "roc-grotesk";
    font-weight: 500;
  }
  svg {
    width: 100%;
  }
  a {
    display: inline-block;
  }
  h1 {
    font-size: 3rem;
  }

  @media (max-width: 720px) {
    h1 {
      font-size: 2.5rem;
    }
  }

  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
}
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.slick-dots li {
  width: auto;
}

.slick-dots li.slick-active {
  text-decoration: none;
  display: inline-table;
}

.slick-track,
.slick-list {
  -webkit-perspective: 2000;
  -webkit-backface-visibility: hidden;
}

.slick-slide,
.slick-slide[aria-hidden="true"]:not(.slick-cloned)
  ~ .slick-cloned[aria-hidden="true"] {
  div {
    opacity: 1;
  }
}
/* slide when active/center */
.slick-center,
.slick-slide[aria-hidden="true"]:not([tabindex="-1"])
  + .slick-cloned[aria-hidden="true"] {
  div {
    opacity: 1;
  }
}

.slick-dots {
  bottom: -72px !important;
  font-size: 30px !important;
  @media screen and (max-width: 768px) {
    bottom: -65px !important;
  }
  li {
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
    width: auto !important;
    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.slick-active .carousel-link {
  border-bottom: 3px solid;
}

.carousel-space {
  margin-bottom: 210px;
  margin-top: 50px;

  @media (max-width: 720px) {
    margin-top: 0px;
  }
}

.container {
  max-width: 1400px;
  padding-left: 30px;
  padding-right: 30px;
}

.work-page .container {
  max-width: 1680px;
}

.post-header-row {
  justify-content: space-between;
}

@media (max-width: 720px) {
  .slick-dots li {
    font-size: 16px;
  }

  .navbar-main {
    margin-bottom: 45px;

    svg,
    .gif-nav {
      width: 123px;
    }
  }

  .flex-col-mobile {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .start-col-mobile {
    margin-left: inherit;

    li {
      margin-left: 0px;
    }
  }

  .post-title {
    font-size: 2.5rem !important;
    margin-right: 12px;
    line-height: 1;
  }

  .post-header-row {
    justify-content: flex-start;
  }
}
