@import "slick";
@import "slick-theme";

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
@layer base {
  body {
    background: #f3ede0;
    color: #12416c;
  }
  svg {
    width: 100%;
  }
  a {
    display: inline-block;
  }
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
}
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.slick-dots li {
  width: auto;
}

.slick-dots li.slick-active {
  text-decoration: underline;
}

.slick-track,
.slick-list {
  -webkit-perspective: 2000;
  -webkit-backface-visibility: hidden;
}

.slick-slide,
.slick-slide[aria-hidden="true"]:not(.slick-cloned)
  ~ .slick-cloned[aria-hidden="true"] {
  div {
    opacity: 1;
  }
}
/* slide when active/center */
.slick-center,
.slick-slide[aria-hidden="true"]:not([tabindex="-1"])
  + .slick-cloned[aria-hidden="true"] {
  div {
    opacity: 1;
  }
}

.slick-dots {
  li {
    width: auto !important;
  }
}
