/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
@layer base {
  body {
    background: #f3ede0;
  }
  svg {
    width: 100%;
  }
  a {
    display: inline-block;
  }
  h4 {
    font-size: 2.5rem;
  }
}
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
